body {
    background: green;
    color: red
}
div#main {
    padding: 10px;
    width: 800px;
    height: 1600px;
    margin-left: auto;
    margin-right: auto;
    background: greenyellow;
    color:black
}
img {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 780px;
}